:root {
    --fundo: #FBFBEF;
    --azul:#595CF8;
    --laranja:#E19039;
    --textos: #353A3F;
    --verde: #3AE191;
    --verde-sim: #52DF50;
    --nao:#DF5052;
    --roxo: #9039E1;
    --roxo-claro: #C3C9FB;
    --bege: #FFD9B0;
    --rosa: #FF84A0;
}