@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./styles/cores.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background-color: var(--fundo);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
}

main img {
    height: 180px;
}

main h1 {
    color: var(--laranja);
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
    letter-spacing: 4px;
    padding: 12px;
}

main h1 #data {
    color: var(--roxo);
    font-weight: 700;
}

.quadro {
    width: 100%;
    flex: calc(100vh - 350px);
    height: 280px;
    border-radius: 20px;
    border: 2px solid var(--verde);
    padding: 12px;
}

h4 {
    margin-top: 18px;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    color: var(--textos);
    font-weight: 500;
}

.resultados {
    margin-top: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 8px;
}

.interesses-turno{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    font-weight: 600;
    color: var(--roxo);
    border-bottom: 1px solid var(--laranja);
    text-transform: uppercase;
}

.interesses-rotulo {
    justify-self: center;
    color: var(--textos);
    font-size:50px;
}

.interesses-digito-sim {
    justify-self: center;
    font-size: 60px;
    font-weight: 600;
    color: var(--verde-sim);
}

.interesses-digito-nao {
    justify-self: center;
    font-size: 60px;
    font-weight: 600; 
    color: var(--nao);
}


.servimentos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    height: 80px;
    align-items: center;

    & h3 {
        justify-self: center;
        font-weight: 500;
        color: var(--textos);

    }

    & .servimentos-total {
        font-size: 60px;
        font-weight: 600;
        color: var(--roxo);
        justify-self: center;
    }
}
